body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background-color: #FAF9F9;
  color: #555B6E;
  margin-top: 80px;
}

button{
  margin: 20px;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

h1 {
  margin-bottom: 40px;
  color: #F16B24;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-10 {
  margin: 10px;
}

a, a:hover {
  color: #FAF9F9;
}

.container {
  margin-top: 40px;
}

.btn{
  background-color: #71918F;
  border: 1px solid #71918F;
  color: #FAF9F9;
}

.btn:hoover{
  background-color: #F16B24;
  border: 1px solid #F16B24;
}

small .nav-link{
  color: #F16B24;
}

.loading{
  text-align: center;
}

.spinner-border {
  color: #F16B24;
  position: absolute;
  left: 50%;
  top: 35%;
}

.auth-div {
  text-align: center;
}

.user-name{
  color: #F16B24;
}

.orange-text{
  color: #F16B24;
}

.initial-letter{
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 5.3em;
  background-color:  #555B6E;
  text-align: center;
  margin: 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.logo-div{
  background-color:  #FAF9F9;
  margin: 0px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
