body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background-color: #FAF9F9;
  color: #555B6E;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

h1 {
  margin-bottom: 40px;
  color: #F16B24;
}

.mb-20 {
  margin-bottom: 20px;
}

a, a:hover {
    color: #FAF9F9;
}

.container {
  margin-top: 40px
}


.navbar {
    background-color: #71918F;
    color: #FAF9F9;
}

.navbar-brand {
   color: #F16B24;
   font-family: 'Poiret', sans-serif;
}

.btn{
  background-color: #71918F;
  border: 1px solid #71918F;
  color: #FAF9F9;
}

.btn:hoover{
  background-color: #F16B24;
  border: 1px solid #F16B24;
}

small .nav-link{
  color: #F16B24;
}

.loading{
  text-align: center;
}
.spinner-border {
  color: #F16B24;
  left: 0px;
  top: 0px;
}

.auth-div {
  text-align: center;
}

.user-name{
  color: #F16B24;
}

.orange-text{
  color: #F16B24;
}