.div-seq{
  /* height: 400px;
  min-width: 300px; 
  overflow: scroll;   */
  text-align: center;
}

.key-note {
  border:solid 0.2px white;
  background-color: #FFE4D3;
  height: 20px;
  min-width: 50px;
  font-size: 0.5em;
  text-align: center;
}

.step-header {
  border:solid 0.2px white;
  background-color: #555B6E;
  color: white;
  height: 20px;
  min-width: 50px;
  text-align: center;
  display: inline-block;
}

